.annuaire {
    height: auto;
    padding: 1% 1% 1% 1% ;
    margin: 5% 0% 0% 0%;
    overflow: hidden;
    border-radius: 1%;
    border:solid 1px #c5c2baef;
    justify-content: center;
    box-shadow: 1px 2px 3px #1d180cef ;
}


.part {
    float: left;
    padding: 20px 0;
    border: 1px solid #888;
    text-align: center;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 1px;
    padding:10px;
    justify-content: center;
    box-shadow: 1px 2px 3px #1d180cef ;
    overflow: hidden;
    border-radius: 5%;
    border:solid 1px #c5c2baef;
    height: 300px;
    min-height: 200px;
  width: 200px;
}
.part-title {
    font-size: 25px;
    color: #eb5424;
    margin-bottom: 20px
}

 .line {
    width: 60%;
    margin: auto;
}

 .part-desc {
    font-size: 14px;
    color: #888;
    padding-top: 10px;
}

/* @media (max-width: 50px) {
    .annuaire .part {
        width: 50%;
        float: none;
        margin-left: 0
        
    }
}
 */
 /* 
@media (min-width: 50px )and (max-width:50px) {
    .annuaire .part {
        width: 47%;
    }
    
    .annuaire .last {
        margin-left: 0
    }
}
 */




 

/* ---------------------MODAL---------------------------------------------------------------- */
/* Background effect. It covers the entire site */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    overflow-y: auto;
    height: 80vh; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px; /* Optional. Rounds container corners */
}
/* Close button */
.closeatelier {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255 255 255) 0px 1px 0px;
    background-color: red;
    width: 25px;
    align-self: flex-end;
    font-size: 20px  
}

.x{
    padding: 5px;
}

.closeatelier:hover, 
.closeatelier:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}